# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Firebase
.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log
